body{
	background-color: royalblue;
}
{
	position: absolute;
	
}
img{position: relative;
	;
}
h1{position: relative;
}
body{
	text-align: center;
font-family: impact, fantasy;
font-weight: lighter;
color: whitesmoke;
}
